#reference{
    margin:0;
    padding:0;
    /*background:url("images/reference.png") top left;*/
    background-size: 100% 100%;
}

body {
    background:url(images/background.jpg) repeat scroll center top;
    margin:0 auto;
}

.fix {overflow:hidden}

.floatleft {float:left}

.floatright {float:right}

.alignleft {float:left;margin-right:10px;}

.alignright {float:right;margin-left:10px;}

.aligncenter {display:block;margin:0 auto;}

a, a:active, a:focus, a:active {text-decoration:none !important}

img {max-width:100%}

h1, h2, h3, h4, h5, h6 {
    font-weight:normal;
    margin:0 0 15px;
    font-family: "Theano Didot";
}

p{
    font-family: "Theano Didot";
}

ul {margin:0;padding:0;list-style:none}


/*... header ....*/
.rotk-head{
    background:#ffe700;
}

.rotk-header-left{
    margin-top:20px;
}

.rotk-header-middle,
.rotk-header-right,
.rotk-poems,
.rotk-left-image,
.rotk-right-image,
.rotk-copyright,
.rotk-slider-bottom-left,
.rotk-slider-bottom-middle,
.rotk-slider-bottom-right{
    text-align: center;
}

.rotk-header-middle img{
    margin-top:31px;
    margin-bottom:20px;
}

.rotk-header-right{
    
}

.rotk-header-right img{
    margin-top:14px;
    margin-bottom:14px;
}


/*... Six-poem ....*/
.rotk-six-poem{
    background:#ffe700;
    margin-bottom: 150px;
}

.rotk-poems{
    
 }
 
.rotk-poems img{
    margin:30px 0px;
 }
 
.rotk-left-image{
   
}

.rotk-left-image img{
    margin-top: -65px;
	margin-bottom: 10px;

}

.rotk-send-mail{
        text-align: center;
	position: relative;
}

.rotk-send-mail h4{
         color:#000;
         margin-bottom: 80px;
         font-weight: 600;
}

.rotk-send-mail h4 span{
         margin-left: 100px;
}

.rotk-dashedline{}

.rotk-dashedline img{
        position: absolute;
	left: 170px;
	top:-11px;
}

.rotk-campaign{
        margin-top: 63px;
    
}

.rotk-campaign h3{
        text-transform: uppercase;
	font-size: 17px;
	margin-top:20px;
	letter-spacing: 2px;
	color: #000;
	text-align: center;
	line-height: 24px;
}

.rotk-campaign h3 span{
        font-size: 23px;
}
.rotk-selected-poem{
        margin-top: 63px;
    
    
}

.rotk-selected-poem h4{
        font-size: 21px;
        font-style: italic;
        margin-bottom: 25px;
        color: #000;
        text-align: center;
        margin-top: 48px;
}

.rotk-selected-poem p{
        font-size: 14px;
        color: #000;
        text-align: center;
        font-weight: 600;
        width: 100%;

}

.rotk-right-image{
    
}

.rotk-right-image img{
       height: 270px;
}


/*... about-us ....*/
.rotk-about-us{
        background:#ffe700;
	margin-bottom:200px;
}

.rotk-about-yellow{
       text-align:center;
}

.rotk-about-yellow h2{
        text-transform:uppercase;
	font-size:18px;
	margin-top:30px;
	letter-spacing:2px;
	font-weight:bold;
	margin-bottom:17px;
	color:#000;
}

.rotk-about-yellow h2 span{
       font-size:25px;
}

.rotk-about-yellow h4{
        font-size:18px;
	font-style:italic;
	margin-bottom:25px;
	color:#000;
}

.rotk-about-yellow p{
        font-size:14px;
	color:#000;
}

/*... slider ....*/
.rotk-slider{
        background:#ffe700;
        margin-bottom:100px;
}

.rotk-slider-bottom{
        margin-bottom:20px;
}

.rotk-slider-bottom-left{}

.rotk-slider-bottom-left img{}

.rotk-slider-bottom-middle{}

.rotk-slider-bottom-middle img{
       margin-top: 85px;
}

.rotk-slider-bottom-right{}

.rotk-slider-bottom-right img{
        margin-top: 8px;
}

.rotk-item img{
        margin-bottom:20px !important;
}

/*... Participents ....*/
.rotk-single-participent-row,.rotk-carousel{
    width:90%;
    margin:auto;
}
.rotk-control{
    position:absolute;
    top:50%;
    margin-top:-20px;
}
.carousel-control{
    background-image: none!important;
    opacity:.9;
}
.rotk-participents{
        background:#ffe700;
	margin-top:100px;
	margin-bottom:150px;
}

.rotk-part{}

.rotk-part h2{
        text-transform:uppercase;
	font-size:18px;
	margin-top:30px;
	letter-spacing:2px;
	font-weight:bold;
	margin-bottom:17px;
	color:#000;
	text-align:center;
}

.rotk-part h2 span{
       font-size:25px;
}

.rotk-part p{
        font-size:18px;
	margin-bottom:25px;
	color:#000;
}

.rotk-single-participent{
        margin-bottom:20px;
	text-align:center;
}

.rotk-single-participent img{}

.rotk-single-participent h3{
        text-transform:uppercase;
	font-size:12px;
	letter-spacing:2px;
	font-weight:bold;
	margin-bottom:17px;
	color:#000;
	text-align:center;
}

.rotk-single-participent h3 span{
        font-size:20px;
}
.margin_top{
        margin-top:21px;

}
.margin_top1{
       margin-top:44px;
}

/* footer */

.rotk-footer{
       background:#ffe700;
}

.rotk-copyright{
    
}

.rotk-copyright p{
        font-size: 20px;
        text-transform: uppercase;
	color: #000;
        margin-top: 7px;
}
.rotk-copyright p span{
        font-size: 30px;
}
.rotk-copyright p span1{
        font-size: 35px;
}

@font-face {
        font-family: "Theano Didot";
        src: url('fonts/855499268-TheanoDidot-Regular.eot');
        src: url('fonts/855499268-TheanoDidot-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/855499268-TheanoDidot-Regular.svg#Theano Didot') format('svg'),
        url('fonts/855499268-TheanoDidot-Regular.woff') format('woff'),
        url('fonts/855499268-TheanoDidot-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
}